<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LOGFILENAME" value="C:\tmp\FileSysWatcher.Log"/>
    <add key="ERRORLOGFILENAME" value="C:\tmp\FileSysWatcher_Error.log"/>
    <add key="PathToWatch" value="C:\Prashant\"/>
  </appSettings>
</configuration>